CLIP/CLIP/
Deep_Live_Cam/Deep-Live-Cam/
LoRA/LoRA/
mmpretrain/mmpretrain/
SAM2/segment-anything-2/
Stable-Baselines3/stable-baselines3
stablediffusion/stablediffusion/
stablediffusion/v2-1_768-ema-pruned.ckpt
Transformers/transformers/
TTS/TTS/
Whisper/whisper/
YOLOv5/yolov5/
YOLOv5/v2-1_768-ema-pruned.ckpt
YOLOv8/ultralytics/
