[submodule "CLIP/CLIP"]
	path = CLIP/CLIP
	url = https://github.com/openai/CLIP.git
[submodule "Deep_Live_Cam/Deep-Live-Cam"]
	path = Deep_Live_Cam/Deep-Live-Cam
	url = https://github.com/hacksider/Deep-Live-Cam.git
[submodule "LoRA/LoRA"]
	path = LoRA/LoRA
	url = https://github.com/microsoft/LoRA.git
[submodule "SAM2/sam2"]
	path = SAM2/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "Stable-Baselines3/stable-baselines3"]
	path = Stable-Baselines3/stable-baselines3
	url = https://github.com/DLR-RM/stable-baselines3.git
[submodule "stablediffusion/stablediffusion"]
	path = stablediffusion/stablediffusion
	url = https://github.com/Stability-AI/stablediffusion.git
[submodule "Transformers/transformers"]
	path = Transformers/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "TTS/TTS"]
	path = TTS/TTS
	url = https://github.com/coqui-ai/TTS.git
[submodule "Whisper/whisper"]
	path = Whisper/whisper
	url = https://github.com/openai/whisper.git
[submodule "YOLO11/ultralytics"]
	path = YOLO11/ultralytics
	url = https://github.com/ultralytics/ultralytics.git